
    
/* nav-design */
.navli-dgn {
    padding-left: 10px;
    font-size: small;
  
  
  }
  
  nav .navbar-nav li a {
    color: rgb(36, 115, 218) !important;
  
  }
  
  nav .navbar-nav li a .pricing {
    color: rgb(100, 194, 106) !important;
  
  }
  
  .navimg-dgn {
  
    padding-top: 0px;
    padding-bottom: 0px;
  
  }

  .exclusive-card-design {
    border-color: rgb(0, 119, 255) !important;
    box-shadow: 2px 5px rgb(239, 239, 237);
    border-radius: 15px !important;
  }
  .exclusive-card-design:hover img {
    transform: rotate(360deg);
    transition: transform 3s ease;
    overflow: hidden;
  }
  /* footer */
  .footer-design {
    background-color: rgba(52, 122, 168, 0.828);
  
    color: aliceblue;
  }
  
  .footer-p {
    font-weight: 700;
    color: aliceblue;
    font-size: 13px;
  
  }
  
  .footer-icon {
    color: rgb(100, 194, 106);
    font-size: 25px;
  }
  
  .fa-border-icon3 {
    border-color: rgb(100, 194, 106) !important;
    border-width: 2px !important;
    border-radius: 60px !important;
  
  }
  
  hr {
  
    width: 70%;
    color: aliceblue;
    background-color: aliceblue;
    height: 3px;
  
  }
  
  .footer-copy-right {
    font-size: 11px;
  }