/* h1 tag style */
.quality {
    color: rgb(0, 119, 255);
  }
  
  /* quality service p tag style */
  .text-size {
    font-size: 13px;
  
  }
  
  .quality-card {
    border-color: rgb(0, 119, 255) !important;
    transition: 0.25s ease;
  }
  
  .h6-color {
    color: rgb(130, 134, 134);
  
  }
  
  .quality-card :hover i{
      transform: scale(1.4);
      
  }
  .quality-service :hover {
    box-shadow: #777;
  }






.navli-dgn {
    padding-left: 10px;
    font-size: small;
  
  
  }
  
  nav .navbar-nav li a {
    color: rgb(36, 115, 218) !important;
  
  }
  
  nav .navbar-nav li a .pricing {
    color: rgb(100, 194, 106) !important;
  
  }
  
  .navimg-dgn {
  
    padding-top: 0px;
    padding-bottom: 0px;
  
  }
  /* footer */
  .footer-design {
    background-color: rgba(52, 122, 168, 0.828);
  
    color: aliceblue;
  }
  
  .footer-p {
    font-weight: 700;
    color: aliceblue;
    font-size: 13px;
  
  }
  
  .footer-icon {
    color: rgb(100, 194, 106);
    font-size: 25px;
  }
  
  .fa-border-icon3 {
    border-color: rgb(100, 194, 106) !important;
    border-width: 2px !important;
    border-radius: 60px !important;
  
  }
  
  hr {
  
    width: 70%;
    color: aliceblue;
    background-color: aliceblue;
    height: 3px;
  
  }
  
  .footer-copy-right {
    font-size: 11px;
  }