html,
body {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

section{
  padding-top: 15px;
  margin-top: 15px;
}


/* ------navbar design start------- */
.nav-extra{
  float: right;
}
header, nav{
  width: 100%;
  text-align: center;
}
.navli-dgn {
  padding-left: 10px;
  font-size: small;


}

nav .navbar-nav li a {
  color: #1074bc!important;

}

nav .navbar-nav li a .pricing {
  color: rgb(100, 194, 106) !important;

}

.navimg-dgn {

  padding-top: 0px;
  padding-bottom: 0px;

}

/* -------------navbar design end---------------- */

/* ======================hero section design start====================== */

/*------ parent section  background -----*/
.hero-section {

  background-image: url(images/headphn-laptop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 0px !important;

}

/* child design */
.hero-section-design {
  background-color: #1074bcaf;

  color: aliceblue;

}

.hero-heading {
  padding-top: 25px;
  width: 60%;
}

.hero-heading h1 {

  font-weight: 700;
  font-size: 55px;

}

.hero-heading span {

  font-weight: 700;
  font-size: 55px;
  color: rgb(89, 174, 95)
}

.hero-section p {

  text-align: justify;
  width: 50%;
}

.hero-btn {
  color: white;

  background-color: rgb(89, 174, 95);
  border-style: none;
  border-radius: 30px;
  padding: 10px;
}




/* for modal clander */
ul {
  list-style-type: none;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {

  .weekdays li,
  .days li {
    width: 13.1%;
  }
}

@media screen and (max-width: 420px) {

  .weekdays li,
  .days li {
    width: 12.5%;
  }

  .days li .active {
    padding: 2px;
  }
}

@media screen and (max-width: 290px) {

  .weekdays li,
  .days li {
    width: 12.2%;
  }
}

/* modal css end */
/* -------hero section media  queary --------*/
@media (max-width:800px) {
  .hero-heading {
    width: 100%;
  }

  .hero-heading h1 {

    font-weight: 600;
    font-size: 30px;
    padding-top: 15px;

  }

  .hero-heading span {

    font-weight: 600;
    font-size: 30px;
    color: rgb(89, 174, 95)
  }

  .hero-section p {

    text-align: justify;
    width: 90%;
  }

  .computer-img {
    width: 100%;
  }

}


/* ------########------------ article-below-card-----------------########------- */
.card-section {
  margin-top: -25px;
  /*--- whole  card margin --*/
}

.textCard {
  font-size: 13px;
  /*------card p tag  fontsize----*/
}

.card-design {
  border-color: rgb(247, 250, 250) !important;
  box-shadow: 1px 3px rgb(239, 239, 237);

}

.fa-border-icon {
  border-color: #1074bc !important;
  border-width: 2px !important;
  border-radius: 53px !important;
}

.fa-border-icon2 {
  border-color: #1074bc !important;
  border-width: 2px !important;
  border-radius: 84% 80% 84% 80% !important;
}

.icon {
  color: #1074bc;
}

/*------------- quality service --------*/

/* h1 tag style */
.quality {
  color: #1074bc;
}

/* quality service p tag style */
.text-size {
  font-size: 13px;

}

.quality-card {
  border-color: #1074bc !important;
  transition: 0.25s ease;
}

.h6-color {
  color: rgb(130, 134, 134);

}

.quality-card :hover i{
    transform: scale(1.4);
    
}
.quality-service :hover {
  box-shadow: #777;
}

/*--------------- Exclusive Card Design section --------------------*/

.exclusive-card-design {
  border-color: #1074bc !important;
  box-shadow: 2px 5px rgb(239, 239, 237);
  border-radius: 15px !important;
}
 

/*-------------- 7years experience----------------- */
.experience-p {
  color: black;

}

.experience-h3 {
  color: #1074bc;
  font-size: 30px;

}

.experience-green {
  color: rgb(100, 194, 106);
}

/*--------------- technology we have used ------------------*/
.technology-p {
  width: 78%;
}

/*-------------------- trusted by major brands----------------- */

.carousel-control-prev {
  left: 5% !important;
}

.carousel-control-next {
  right: 9% !important;
}

.caro-icon {
  background-color: #1074bc!important;
}


/* we are in numbers */
.in-numbers-tag {
  font-size: 27px;


}

.in-numbers-h1 {
  font-size: 65px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.in-numbers-card-design{
  border-color: #1074bc !important;
 
  border-radius: 15px !important;

  
}

.in-numbers-card-design:hover h1{
  transform: scale(1.3);
  color:#777;


}
.in-numbers-card-design:hover {
  background-color: #d6ecfb;
}


/*------------------- Footer -------------------- */
.footer-design {
  background-color: #1074bc;

  color: aliceblue;
}

.footer-p {
  font-weight: 700;
  color: aliceblue;
  font-size: 13px;

}

.footer-icon {
  color: rgb(100, 194, 106);
  font-size: 25px;
}

.fa-border-icon3 {
  border-color: rgb(100, 194, 106) !important;
  border-width: 2px !important;
  border-radius: 60px !important;

}

hr {

  width: 70%;
  color: aliceblue;
  background-color: aliceblue;
  height: 3px;

}

.footer-copy-right {
  font-size: 11px;
}